In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('IBM_Employee_Attrition.csv')

In [17]:
def preprocess(df):
    
    # Dropping the rates since monthly income is better data
    df = df.drop(columns='DailyRate') 
    df = df.drop(columns='HourlyRate')
    df = df.drop(columns='MonthlyRate')

    df = df.drop(columns='BusinessTravel') # Similar to job involvement

    df = df.drop(columns='EmployeeCount') # Dropped since whole column is 1

    df = df.drop(columns='Over18') # this column is useless, all over 18
    
    df = df.drop(columns='Education') # Dropping education since the education field is more important

    df = df.drop(columns='StandardHours') # Dropping since whole column is 80 so its irrelevant

    df = df.drop(columns='StockOptionLevel') # Dropping since I feel its not too related

    df = df.drop(columns='TrainingTimesLastYear') # Dropping because if they got the job the training went fine
    
    return df

preprocess(df)

,Age,Attrition,Department,DistanceFromHome,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,1,Life Sciences,1,2,Female,3,2,...,Yes,11,3,1,8,1,6,4,0,5
1,49,No,Research & Development,8,Life Sciences,2,3,Male,2,2,...,No,23,4,4,10,3,10,7,1,7
2,37,Yes,Research & Development,2,Other,4,4,Male,2,1,...,Yes,15,3,2,7,3,0,0,0,0
3,33,No,Research & Development,3,Life Sciences,5,4,Female,3,1,...,Yes,11,3,3,8,3,8,7,3,0
4,27,No,Research & Development,2,Medical,7,1,Male,3,1,...,No,12,3,4,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Research & Development,23,Medical,2061,3,Male,4,2,...,No,17,3,3,17,3,5,2,0,3
1466,39,No,Research & Development,6,Medical,2062,4,Male,2,3,...,No,15,3,1,9,3,7,7,1,7
1467,27,No,Research & Development,4,Life Sciences,2064,2,Male,4,2,...,Yes,20,4,2,6,3,6,2,0,3
1468,49,No,Sales,2,Medical,2065,4,Male,2,2,...,No,14,3,4,17,2,9,6,0,8
1469,34,No,Research & Development,8,Medical,2068,2,Male,4,2,...,No,12,3,1,6,4,4,3,1,2

In [14]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [15]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1465    False
1466    False
1467    False
1468    False
1469    False
Length: 1470, dtype: bool